{{#if user && authenticated}}
<div class="admin-menu__wrapper">
    <div class="admin-menu__container">
        <div class="admin-menu">
            <a href="#" class="glyphicon glyphicon-align-justify admin-menu__toggle"></a>
            <ul class="admin-menu__nav">
                <li>
                    <a href="/admin/articles">Новости</a>
                </li>
                <li>
                    <a href="/admin/pages">Страницы</a>
                </li>
                <li>
                    <a href="/admin/menuItems">Меню</a>
                </li>
                <li>
                    <a href="/users/{{user._id}}/edit">Профиль</a>
                </li>
                <li>
                    <a href="/logout">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{/if}}