<footer id="footer">
    <hr />
    <p class="copyright">
        &copy;&nbsp;{{#if currentYear() == 2014}}2014{{else}}2014&mdash;{{currentYear()}}{{/if}} {{siteTitle}}
    </p>
    <p class="misc">
        <a href="//facebook.com" class="socicon facebook" title="Мордокнига"></a>
        <a href="//twitter.com" class="socicon twitter" title="Наш свитер"></a>
        <a href="//vk.com/group" class="socicon vkontakte" title="Мы ВКонтакте"></a>
        тел: <strong>+7 (8202) 73-12-73</strong>
    </p>
</footer>
