.neon-shadow(@color) {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px @color, 0 0 70px @color, 0 0 80px @color, 0 0 100px @color, 0 0 150px @color;
}

.neon-radial(@start-color, @end-color) {
    background: radial-gradient(ellipse at top center, lighten(@start-color, 30%) 0%, @end-color 100%);
    background-color: @end-color;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.neon-background {
    &.pink {
        .neon-radial(@neon-pink, @body-background);
        
        .neon {
            .neon-shadow(@neon-pink);
        }
    }
    
    &.green {
        .neon-radial(@neon-green, @body-background);
        
        .neon {
            .neon-shadow(@neon-green);
        }
    }
    
    &.yellow {
        .neon-radial(@neon-yellow, @body-background);
        .neon {
            .neon-shadow(@neon-yellow);
        }
    }
    
    &.blue {
        .neon-radial(@neon-blue, @body-background);
        
        .neon {
            .neon-shadow(@neon-blue);
        }
    }
    
    &.red {
        .neon-radial(@neon-red, @body-background);
        
        .neon {
            .neon-shadow(@neon-red);
        }
    }
    
    &.orange {
        .neon-radial(@neon-orange, @body-background);
        
        .neon {
            .neon-shadow(@neon-orange);
        }
    }
    
    &.purple {
        .neon-radial(@neon-purple, @body-background);
        
        .neon {
            .neon-shadow(@neon-purple);
        }
    }
}