<layout-wrapper>
    <div class="auth__social-wrapper">
        <h4>Войдите через аккаунт в социальной сети</h4>
        <a href="/auth/facebook">
            <i class="socicon facebook"></i>
        </a>
        <a href="/auth/twitter">
            <i class="socicon twitter"></i>
        </a>
        <a href="/auth/vkontakte">
            <i class="socicon vkontakte"></i>
        </a>
    </div>

    <h4 class="text-center">Или</h4>

    <div class="login">
        {{>pagecontent}}
    </div>
</layout-wrapper>