<div class="page-content__image">
   <img src="/images/tesla.jpg" width="300" alt="Катушка Теслы">
</div>
<p>Технический центр TESLA уже более 5 пяти лет оказывает услуги по ремонту ноутбуков в Череповце. Опыт каждого из инженеров составляет более 10 лет в сфере в IT. Наши знания позволяют нам выполнять ремонт электронного оборудования на компонентном уровне, выполнять работу как с персональными компьютерами так и с серверным оборудованием, разработку программного обеспечения.</p>

<h2>Краткий список услуг техцентра:</h2>

<h3>Ремонт электронного оборудования</h3>
<ul>
    <li>компьютеров и ноутбуков</li>
    <li>LCD-мониторов и LCD-телевизоров</li>
    <li>планшетов</li>
    <li>звуковых карт и аудиоинтерфейсов</li>
    <li>музыкального оборудования в т.ч. и гитарной электроники</li>
    <li>сетевого оборудования</li>
</ul>

<h3>Установка и настройка программного обеспечения</h3>
<ul>
    <li>Работа с операционными системами Windows, Linux, MacOSX</li>
    <li>Работа с прикладным по (офисные пакеты, устранение последствий атак вирусов и т.п.)</li>
</ul>

<h3>Установка и настройка серверов и сетевого оборудования</h3>
<ul>
    <li>Развертывание серверных решений преимущественно на базе платформ Linux, FreeBSD.</li>
    <li>Проектирование ЛВС.</li>
    <li>Системное администрирование.</li>
</ul>

<h3>Разработка программного обеспечения</h3>
<ul class="list">
    <li>Создание веб и stand-alone приложений</li>
    <li>Создание приложений под мобильную платформу Android</li>
</ul>

<h3>Восстановление данных</h3>
<ul class="list">
  <li>Восстановление данных с HDD и Flash</li>
</ul>