<h1 class="main-page-header">Результаты поиска</h1>

{{#if articles.length}}
<div id="posts-list-container" data-columns>
    {{#each articles}}
    <div class="post-thumbnail">
        {{#if image && image.files && image.files.length}}
        <div class="post-thumbnail__image-container">
            <a href="/articles/{{_id}}">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/upload/thumbnail_large_{{image.files[0]}}" media="(min-width: 1200px)">
                    <source srcset="/upload/thumbnail_medium_{{image.files[0]}}" media="(min-width: 992px)">
                    <source srcset="/upload/thumbnail_small_{{image.files[0]}}" media="(min-width: 768px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="/upload/thumbnail_extra_small_{{image.files[0]}}" alt="{{title}}">
                </picture>
            </a>
        </div>
        {{/if}}

        <h2 class="post-thumbnail__post-link">
            <a href="/articles/{{_id}}">{{title}}</a>
        </h2>

        <p class="post-thumbnail__shortened-text">
            {{{truncate(body)}}}
        </p>

        {{#if tags && tags.length}}
        <div class="post-thumbnail__category-link__container">
            {{#each getTags(tags)}}
            <a class="post-thumbnail__category-link" href="/tags/{{ . }}">{{.}}</a>
            {{/each}}
        </div>
        {{/if}}
    </div>
    {{/each}}
</div>
{{else}}
<h4 class="muted text-center">
    К сожалению, поиск не дал результатов.
</h4>
{{/if}}

{{{generatePagination(page, pages)}}}