{{#with article}}


<div class="row">
    <div class="col-sm-12">
        <article class="article">
            <h1 class="page-header">{{title}}</h1>

            <div class="article__meta">
                {{#if user}}
                Статью опубликовал
                <a href="/users/{{user._id}}">
                    {{ user.name || user.username }}
                </a>
                {{/if source}}
                <span class="muted">{{ timeAgo(createdAt) }}</span>
            </div>


            {{#if video && video.html}}
            <div class="article__video-container">
                {{{video.html}}}
            </div>
            {{else}}
            {{#if (image && image.files && image.files.length) }}
            <div class="article__image-container">
                <picture>
                    <!--[if IE 9]>
                    <video style="display: none;"><![endif]-->
                    <source srcset="/upload/large_{{image.files[0]}}" media="(min-width: 1200px)">
                    <source srcset="/upload/medium_{{image.files[0]}}" media="(min-width: 992px)">
                    <source srcset="/upload/small_{{image.files[0]}}" media="(min-width: 768px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="/upload/extraSmall_{{image.files[0]}}" alt="{{title}}">
                </picture>
            </div>
            {{/if}}
            {{/if}}

            <div class="article__text">{{{body}}}</div>

            {{#if tags || source}}
            <div class="article__categories">
                {{#if source}}
                По материалам <a href="{{ source }}" target="_blank">{{ source }}</a>
                <br/>
                {{/if}}
                Опубликовано в категориях:
                {{#each getTags(tags)}}
                <a href="/tags/{{.}}" class="tag">{{ . }}</a>
                {{/each}}
            </div>
            {{/if}}


        </article>
    </div>
</div>

{{#if user && authenticated && user._id == article.user._id}}
<form action="/articles/{{ _id }}" method="post" onsubmit="return confirm('Вы уверены?')">
    <br>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <a href="/articles/{{ _id + '/edit' }}" title="edit" class="btn btn-default">
        Редактировать
    </a>
    &nbsp;
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger" type="submit">Удалить</button>
</form>
{{/if}}

<br>
<h3 class="comment__header">Комментарии</h3>

{{#if article.comments && article.comments.length}}
{{#each article.comments}}
{{>commentItem}}
{{/each}}
{{else}}
<p class="comment__empty text-muted">Пока что комментариев нет.</p>
{{/if}}

{{>commentForm}}

{{/with}}