{{#with page}}


<div class="row">
    <div class="col-sm-12">
        <article class="article">
            <h1 class="page-header">{{title}}</h1>

            {{#if (!isNew && image && image.files && image.files.length) }}
            <div class="article__image-container">
                <picture>
                    <!--[if IE 9]>
                    <video style="display: none;"><![endif]-->
                    <source srcset="/upload/large_{{image.files[0]}}" media="(min-width: 1200px)">
                    <source srcset="/upload/medium_{{image.files[0]}}" media="(min-width: 992px)">
                    <source srcset="/upload/small_{{image.files[0]}}" media="(min-width: 768px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="/upload/extraSmall_{{image.files[0]}}" alt="{{title}}">
                </picture>
            </div>
            {{/if}}

            <div class="article__text">{{{body}}}</div>
        </article>
    </div>
</div>

{{#if user && authenticated}}
<form action="/pages/{{ _id }}" method="post" onsubmit="return confirm('Вы уверены?')">
    <br>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <a href="/pages/{{ _id }}/edit" title="edit" class="btn btn-default">
        Редактировать
    </a>
    &nbsp;
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger" type="submit">Удалить</button>
</form>
{{/if}}

{{/with}}