<h1 class="page-header">Центр управления</h1>

{{#if errors && errors.length}}
<div class="alert alert-danger">
    <p><strong>При заполнении формы были допущены следующие ошибки:</strong></p>
    <ol>
        {{#each errors}}
        <li>{{.}}</li>
        {{/each}}
    </ol>
</div>
{{/if}}


<form action="/users/session" method="post" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <p class="col-sm-offset-2 error">
        {{ message }}
    </p>

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>

        <div class="col-sm-8">
            <input id="email" class="form-control" type="email" placeholder="Email" name="email">
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Пароль</label>

        <div class="col-sm-8">
            <input id="password" class="form-control" type="password" placeholder="Пароль" name="password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button class="btn btn-primary" type="submit">Войти</button>
            &nbsp; или &nbsp;
            <a href="/signup" class="show-signup">Зарегистрироваться</a>
        </div>
    </div>
</form>
