<h1 class="page-header">Регистрация</h1>

{{#if errors && errors.length}}
<div class="alert alert-danger">
    <p><strong>При заполнении формы были допущены следующие ошибки:</strong></p>
    <ol>
        {{#each errors}}
        <li>{{.}}</li>
        {{/each}}
    </ol>
</div>
{{/if}}

<form action="/users" method="post" role="form" class="form-horizontal">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Полное имя</label>

        <div class="col-sm-8">
            <input id="name" class="form-control" type="text" name="name" placeholder="Full name"
                   value="{{ user.name }}">
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>

        <div class="col-sm-8">
            <input type="text" name="email" placeholder="Email" value="{{ user.email }}" id="email"
                   class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Имя пользователя</label>

        <div class="col-sm-8">
            <input id="username" class="form-control" type="text" name="username" placeholder="Username"
                   value="{{ user.username }}">
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Пароль</label>

        <div class="col-sm-8">
            <input id="password" class="form-control" type="password" name="password" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
            &nbsp; или &nbsp;
            <a href="/login" class="show-login">Войти</a>
        </div>
    </div>
</form>
